langchain_openai 
bs4
langchain
load_dotenv
flask_limiter
Werkzeug==3.0.1
gunicorn==22.0.0
requests==2.31.0
beautifulsoup4==4.12.3
openai==1.13.3
python-dotenv==1.0.1
Flask-CORS==4.0.1
flask==3.0.3
json